body{
    font-family: 'Merriweather', serif;
    margin: 5%;
}

.red{
    color: #ed2939;
}

.link-button{
    text-decoration: none;
    background: orange;
    padding: 10px 40px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}

.container-1{
    display: flex;
    margin-bottom: 140px;
}
.container-2{
    display: flex;
    margin-bottom: 140px;
    margin-left: 5%;
    margin-right: 5%;
    padding: 5%;
}

.intro-half{
    width: 50%;
    padding: 3%;
}
.intro-half img{
    width: 70%;
}

h1{
    font-size: 50px;
    margin: 10px;
}
.intro-border{
    border-left: 4px solid orange;
    border-image-slice: 1;
}
.text-centre{
    text-align: center;
}

.interest{
    text-align: center;
    border: 0px solid orange;
    width: 25%;
    height: 350px;
    margin: 1.5%;
    border-radius: 10px;
    
}
.interest img{
    width: 100px;
    height: 100px;
    padding: 5%;
}

.background-1{
    background-color: rgb(247, 215, 188);
}
.background-2{
    background-color: rgb(195, 218, 240);
}
.background-3{
    background-color: rgb(245, 210, 245);
}